body {
    overflow:hidden;
}

/* CONTROLS */

div#radar {
	width: 400px;
	height: 400px;
	border: dashed black 5px;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	margin-left: 340px; /* centered at res = 1080px */
	margin-bottom: 40px;
	z-index: 11;
}

div.user {
	position: relative;
	width: 30px;
	height: 30px;
	background-color:#779E27;
}

#mycursor {
	position: fixed;
	display: none;
	width: 40px;
	height: 40px;
	background-color: blue;
	z-index: 98;
    }
     
#mycursor.steady {
	background-color: violet;
}

/* CONTENT BUBBLES */

div#bubble1 {
	width: 200px;
	height: 200px;
	background-color: green;
	margin-left: auto;
	margin-right: 40px;
	margin-top: 40px;
	background-image: url(../gfx/alpha-button.png);
}

div#bubble2 {
	width: 200px;
	height: 200px;
	background-color: blue;
	margin-left: auto;
	margin-right: 40px;
	margin-top: 40px;
	background-image: url(../gfx/content-button.png);
}

div#bubble3 {
	width: 200px;
	height: 200px;
	background-color: red;
	margin-left: auto;
	margin-right: 40px;
	margin-top: 40px;
	background-image: url(../gfx/4k-button.png);
}

div#bubble4 {
	width: 200px;
	height: 200px;
	background-color: red;
	margin-left: auto;
	margin-right: 40px;
	margin-top: 40px;
	background-image: url(../gfx/eplus-button.png);
}

div#close {
	width: 100px;
	height: 100px;
	background-color: red;
	margin-left: 40px;
	margin-right: auto;
	margin-top: 40px;
	z-index: 99;
	position: absolute;
	background-image: url(../gfx/close-button.png);	
}

/* 4K VIDEO TEST */

video { 
	position:absolute;
	top:0;
	left:0;
	z-index: 1;
}

